In [1]:
import os
import omdb
import csv
import pandas as pd
import math
import networkx as nx
import matplotlib.pyplot as plt
from networkx.algorithms import bipartite
from omdb import Client
from pymongo import MongoClient
client = Client(apikey="67a495d5")
omdb.set_default('apikey', '67a495d5')
#omdb.get(title='The Princess Bride')

In [2]:
client = MongoClient()

In [3]:
db = client.primer

In [4]:
coll = db.dataset

In [5]:
db = client.test

In [6]:
cursor = db.movie.find()

In [7]:
db.movie.count()

81856

In [8]:
datapath = 'C:/Users/Marielle/Research/ActorNetwork/Data/'
errorcount = 0
print(datapath)
for file in os.listdir(datapath):
    print(file)
    if file.endswith(".csv"):
        print(file)
        with open(datapath + file, encoding='latin-1') as f:
            reader = csv.reader(f)
            for row in reader:
                try:
                    db.movie.insert_one(omdb.get(title=row))
                except:
                    print(row)
                    errorcount += 1;

C:/Users/Marielle/Research/ActorNetwork/Data/
.DS_Store
moviesA.csv
moviesA.csv
moviesB.csv
moviesB.csv
moviesC.csv
moviesC.csv
moviesD.csv
moviesD.csv
moviesE.csv
moviesE.csv
moviesF.csv
moviesF.csv
moviesG.csv
moviesG.csv
moviesH.csv
moviesH.csv
moviesI.csv
moviesI.csv
moviesJK.csv
moviesJK.csv
["Jason's Lyric"]
['Jumanji']
moviesL.csv
moviesL.csv
moviesM.csv
moviesM.csv
moviesO.csv
moviesO.csv
['New York Doll', '']
moviesP.csv
moviesP.csv
['Parthale Paravasam']
['Pepe']
["The Preacher's Wife"]
['Punisher: War Zone']
['Purple Butterfly']
moviesQR.csv
moviesQR.csv
['Q&A']
['Return of the Blind Dead']
['Revolver']
['Ring of Darkness']
moviesS.csv
moviesS.csv
["Smokin' Aces 2: Assassins' Ball"]
['Sudden Fear']
moviesT.csv
moviesT.csv
['Thunderstruck']
['To Be or Not to Be']
['Toy Story 3']
moviesUVW.csv
moviesUVW.csv
['Vampire Blvd.']
['The Villain']
moviesXYZ.csv
moviesXYZ.csv
['Xanadu']

In [8]:
dbbackup = db

In [9]:
db.movie.aggregate([
    { "$match": { "title": "$title" } },
])

In [10]:
cursor = db.movie.aggregate([
    { "$match": { "title": "$title" } },
])
for document in cursor:
    print(document)

In [11]:
db.movie.aggregate([
    { "$group": {
        "_id": { "title": "$title" },
        "dups": { "$push": "$_id" },
        "count": { "$sum": 1 }
    }},
    { "$match": { "count": { "$gt": 1 } }}
])

In [12]:
cursor = db.events.aggregate([
    { "$group": {
        "_id": { "title": "$title" },
        "dups": { "$push": "$_id" },
        "count": { "$sum": 1 }
    }},
    { "$match": { "count": { "$gt": 1 } }}
])

In [18]:
cursor = db.movie.aggregate(
    [
        {"$group": {"_id": "$title","count": { "$sum": 1 }}}
    ]
)

In [19]:
db.movie.count()

64416

In [14]:
cursor = db.movie.aggregate(
    [
        {"$group": {"_id": "$title","count": { "$sum": 1 }}}
    ]
)

In [15]:
collection = db.movie

In [16]:
data = pd.DataFrame(list(collection.find()))

In [25]:
pd.set_option('display.max_columns', None)

In [26]:
data.head()

,_id,actors,awards,box_office,country,director,dvd,genre,imdb_id,imdb_rating,imdb_votes,language,metascore,plot,poster,production,rated,released,response,runtime,title,total_seasons,type,website,writer,year
0,59e6c5a6355c78209ce540e5,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",Won 4 Oscars. Another 152 wins & 204 nominations.,"$292,568,851","USA, UK",Christopher Nolan,07 Dec 2010,"Action, Adventure, Sci-Fi",tt1375666,8.8,"1,626,815","English, Japanese, French",74,"A thief, who steals corporate secrets through ...",https://images-na.ssl-images-amazon.com/images...,Warner Bros. Pictures,PG-13,16 Jul 2010,True,148 min,Inception,NaN,movie,http://inceptionmovie.warnerbros.com/,Christopher Nolan,2010
1,59e6c671355c78209ce540e6,"Asia Argento, Jared Harris, Rupert Everett, Jo...",N/A,N/A,"UK, USA",Michael Radford,21 Mar 2000,"Crime, Drama, Romance",tt0120594,6.0,"3,042","English, Italian, French",49,A young woman attempts to end her criminal car...,https://images-na.ssl-images-amazon.com/images...,Miramax,R,15 Jul 1999,True,92 min,B. Monkey,NaN,movie,N/A,"Andrew Davies (novel), Chloe King, Michael Rad...",1998
2,59e6c671355c78209ce540e7,"Ann Bridgewater, Hsiao-Mei Chang, Jing Chen, R...",N/A,N/A,Hong Kong,Clarence Yiu-leung Fok,N/A,"Action, Comedy",tt0096867,6.2,44,Cantonese,N/A,N/A,https://images-na.ssl-images-amazon.com/images...,N/A,N/A,N/A,True,98 min,Ba bo qin bing,NaN,movie,N/A,N/A,1989
3,59e6c671355c78209ce540e8,"Pam Grier, Fred Williamson, Melvin Van Peebles...",N/A,N/A,"USA, UK",Isaac Julien,28 Jan 2003,Documentary,tt0321353,6.8,573,English,N/A,Filmmaker Isaac Julien uses film clips and int...,https://images-na.ssl-images-amazon.com/images...,IFC,N/A,14 Aug 2002,True,58 min,Baadasssss Cinema,NaN,movie,N/A,N/A,2002
4,59e6c671355c78209ce540e9,"Mario Van Peebles, Joy Bryant, T.K. Carter, Te...",4 wins & 10 nominations.,"$300,000",USA,Mario Van Peebles,14 Sep 2004,"Biography, Drama",tt0367790,7.4,"4,384",English,75,Mario Van Peebles' half-documentary/half-homag...,https://images-na.ssl-images-amazon.com/images...,Sony Pictures Classics,R,17 Mar 2005,True,109 min,Baadasssss!,NaN,movie,http://www.sonyclassics.com/badass/,"Melvin Van Peebles (book), Mario Van Peebles (...",2003

In [17]:
pd.isnull(data).sum()

_id                  0
actors            7194
awards            7194
box_office        8329
country           7194
director          7194
dvd               8329
genre             7194
imdb_id           7194
imdb_rating       7194
imdb_votes        7194
language          7194
metascore         7194
plot              7194
poster            7194
production        8329
rated             7194
released          7194
response          7194
runtime           7194
title             7194
total_seasons    80721
type              7194
website           8329
writer            7194
year              7194
dtype: int64

In [18]:
del data['dvd']
del data['total_seasons']
del data['poster']
#del data['released']
del data['response']
del data['type']
del data['runtime']
del data['website']
del data['imdb_id']
#del data['imdb_votes']
del data['_id']

In [29]:
#del data['language']

In [19]:
data.count()

actors         74662
awards         74662
box_office     73527
country        74662
director       74662
genre          74662
imdb_rating    74662
imdb_votes     74662
language       74662
metascore      74662
plot           74662
production     73527
rated          74662
released       74662
title          74662
writer         74662
year           74662
dtype: int64

In [20]:
d2 = data.drop_duplicates()
d2.count()

actors         24667
awards         24667
box_office     24304
country        24667
director       24667
genre          24667
imdb_rating    24667
imdb_votes     24667
language       24667
metascore      24667
plot           24667
production     24304
rated          24667
released       24667
title          24667
writer         24667
year           24667
dtype: int64

In [21]:
d3 = data.drop_duplicates(['title', 'director'], keep='first')
d3['title_director'] = d3['title'] + ": " + d3['director']
d3.count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

actors            15673
awards            15673
box_office        15431
country           15673
director          15673
genre             15673
imdb_rating       15673
imdb_votes        15673
language          15673
metascore         15673
plot              15673
production        15431
rated             15673
released          15673
title             15673
writer            15673
year              15673
title_director    15673
dtype: int64

In [22]:
data['title'].describe()

count                                    74662
unique                                   15646
top       Aashiq Banaya Aapne: Love Takes Over
freq                                        21
Name: title, dtype: object

In [23]:
d3['title'].describe()

count         15673
unique        15646
top       Annabelle
freq              2
Name: title, dtype: object

In [24]:
# rename dataframe for future use
df = d3

In [ ]:
filehandler = open("databasedump.pickle", 'wb') 
pickle.dump(df, filehandler)